@{
    ViewBag.Title = "About";
}

<div id="p" class="easyui-panel" data-options="fit:true, border:false " style="padding:5px;">
    <table  style="height:auto;width:100%;border:medium">
        <tr>
            <td style="padding:10px;vertical-align:middle;text-align:center;"><img src='~/Content/image/11.png' /></td>
            <td style="padding: 10px 0px;vertical-align:middle;"><div><span>发票管理平台（Ver1.0.0）</span></div></td>
        </tr>
        <tr>
            <td style="padding:10px;vertical-align:middle;text-align:center;"><img src='~/Content/image/22.png' /></td>
            <td style="padding: 10px 0px;vertical-align:middle;"><div><span>海南师范大学信息科学技术学院</span></div></td>
        </tr>
        <tr>
            <td style="padding:10px;vertical-align:middle;text-align:center;"><img src='~/Content/image/33.png' /></td>
            <td style="padding: 10px 0px;vertical-align:middle;"><div><span> </span></div></td>
        </tr>
    </table>
</div>

@*<div class="container-fluid" style="border:1px;margin:5px">
    <div class="row-fluid">
        <div class="span12">
            <h1></h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span1">
            <img src='~/Content/image/11.png' />
        </div>
        <div class="span5">
            <h3>发票管理平台（Ver1.0.0）</h3>
        </div>
        <div class="span3">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span1">
            <img src='~/Content/image/22.png' />
        </div>
        <div class="span5">
            <h3>海南师范大学信息科学技术学院</h3>
        </div>
        <div class="span3">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span1">
            <img src='~/Content/image/33.png' />
        </div>
        <div class="span5">
            <h3></h3>
        </div>
        <div class="span3">
        </div>
    </div>
</div>*@
