@{
    ViewBag.Title = "Contact";
}

<div id="p" class="easyui-panel" style="width: auto; height: auto; padding: 10px; overflow: hidden;" data-options="fit:true">

    <table style="width:60%; margin:30px auto;border-style:none;border:none;">

        <tr>
            <td rowspan="4" style="padding:20px;vertical-align:middle;text-align:center;"><img src='~/Content/image/kefu.jpg' /></td>
            <td><div style="font-size:16px;padding:20px 0px;">&nbsp;&nbsp;&nbsp;&nbsp;网络--<b>冼工程师</b></div></td>
        </tr>
        <tr>
            <td><div style="padding:0px 30px;"><span><img src='~/Content/image/email.png' />:&nbsp;&nbsp;864760661@qq.com</span></div></td>

        </tr>
        <tr>
            <td><div style="padding:0px 30px;"><span><img src='~/Content/image/phone.png' />:&nbsp;&nbsp;15108977919</span></div></td>

        </tr>
        <tr>
            <td><div style="padding:0px 30px;"><span><img src='~/Content/image/timg.png' />:&nbsp;&nbsp;864760661（QQ）</span></div></td>

        </tr>
    </table>
</div>
