
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="p" class="easyui-panel" style="width: auto; height: auto; padding: 10px; overflow: hidden;" data-options="fit:true">
    
    <div style="vertical-align:middle;text-align:center;margin-top:50px;text-decoration:underline">@Html.ActionLink("部门主管及员工用户使用手册", "GetexcelFile")</div>

</div>





