@using Microsoft.AspNet.Identity
@model IEnumerable<wzgl.Models.File_upload>
@{
    ViewBag.Title = "Fapiao_upload_Zg";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;          //项目表id
    var shenhe = ViewBag.shenhezhuangtai;
    string username = User.Identity.GetUserName();//取到登录人员的name
    string loingid = User.Identity.GetUserId();//取到登录人员的id
}

@if (shenhe == "未提交" || shenhe == "撤回")  
{
    <form style="margin-top:10px;width:99%;">
        <div class="file-loading" style="margin:0px auto;">
            <input id="file-Portrait1" name="file" type="file" multiple>
        </div>
    </form>
    <div style="margin:10px 10px 10px 5px;">
        <button type="button" class="btn btn-success" onclick="refresh()">刷 新</button>
    </div>
}

<div id="pic_show" style="width: 100%;">
    <div id="content" class="row-fluid" style="width:100%;">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-2" style="height:50%;width:50%;padding:5px;">
                <div class="thumbnail">
                    @*<img src="/@item.File_path@item.File_name"
                        alt="通用的占位符缩略图">*@
                    <div class="caption">
                        <h5>文件名称：@item.File_name</h5>

                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-primary" role="button" onclick="del(@item.ID)">删 除</a>
                            <a href="/Xiangmuguanli/Get_fujian?filename=@item.File_name&filepath=@item.File_path" class="btn btn-primary" role="button">下 载</a>    @*onclick="down_load('@item.File_name','@item.File_path')"*@
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                <h4>您确定要删除这附件吗？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>取消</button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>删除</button>
            </div>
        </div>
    </div>
</div>


@section footer{
    @*<link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-fileinput/css/fileinput_new.css">
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap-fileinput/js/fileinput.js"></script>
        <script src="~/Scripts/bootstrap-fileinput/js/locales/zh.js"></script>*@

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-fileinput/css/fileinput_new.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="~/Content/bootstrap-fileinput/js/locales/zh.js"></script>

    <script>
        $(document).on('ready', function() {
            $("#file-Portrait1").fileinput({
                showUpload: false,
                dropZoneEnabled: false,
                maxFileCount: 10,
                mainClass: "input-group-lg",
                uploadUrl: "/Xiangmuguanli/Upload_file?id=@id&loingid=@loingid",
                language:'zh',
                showUpload: true,
                //allowedFileTypes: ['doc', 'docx', 'xlsx', 'xls'],
                //allowedFileExtensions: ['doc', 'docx', 'xlsx', 'xls'],//接收的文件后缀
            });
        });

        //  分部视图的脚本 写在父页面可以读取出来
        function del(id) {
            //alert("d");
            $('#myModal').modal();
            $("#btn_submit").on("click", function () {
                $.ajax({
                    type: "POST", //提交的类型
                    url: "/Xiangmuguanli/Feupld_del_file",//提交地址
                    data: "id=" + id + "",//参数
                    success: function (data) {
                        if (data.success==true) {
                            location.replace("/Xiangmuguanli/File_upload/?xmid=@id");
                    } else {

                        };
                    }
                });
            });
        };

        //分部视图的脚本 写在父页面可以读取出来
        function show(path, name) {
            //用js原生方法：
            //document.getElementById("imageId").src = "xxxx.jpg";
            //用Jquery方法：
            //$("#imageId").attr("src", "xxxx.jpg");

            var pic_path = "/" + path + name;
            $("#pic").attr("src", pic_path);       //这两个都可以
            //document.getElementById("pic").src = pic_path;
            $('#myModal_show').modal();
        };

        function refresh() {
            @*$("#pic_show").load("/Xiangmuguanli/File_upload/?mulu=@mulu&id=@id");*@
            //location.reload([]);   //相当于执行 f5
            location.replace("/Xiangmuguanli/File_upload/?xmid=@id");
        };

        //导入文件上传完成之后的事件
        $("#file-Portrait1").on("fileuploaded", function (event, data, previewId, index) {
            $('#upload_dg').datagrid('reload');
            setTimeout(5000);

            location.replace("/Xiangmuguanli/File_upload/?xmid=@id");
        });

        function feupld_del() {
            var row = $('#upload_dg').datagrid('getSelected');
            if (row) {
                $.messager.confirm('提示', '您确定要删除这条记录吗？', function (r) {
                    if (r) {
                        $.post('/Xiangmuguanli/Feupld_del', { zhu_id: row.id, path: row.filepath, name: row.filename }, function (result) {
                            //这里把主键更改为项目名称后需要变动
                            //$.post('/xiangmuguanli/delXiangmu', { xmname: row.XmName }, function (result) {
                            if (result.success) {
                                $('#upload_dg').datagrid('reload');	// reload the user data
                                $.messager.show({	// show error message
                                    title: '提示',
                                    msg: result.errorMsg
                                });
                            } else {
                                $.messager.show({	// show error message
                                    title: '错误提示',
                                    msg: result.errorMsg
                                });
                            }
                        }, 'json');
                    }
                });
            }
            else {
                $.messager.alert("错误提示", "请选择要删除的行！", "warning");
            }
        };

        //附件下载
        function down_load(file_name,file_path ) {
            //if (row) {
            //    var filename = row.filename;
            //    var filepath = row.filepath;
            //    return "<a href='Get_fujian?filename=" + filename + "&filepath=" + filepath + "'>下载</a>";    //直接指向control，不需要经过filexiazai()
            //}
            //alert(file_name)
            //alert(file_path)

            return "<a href='Get_fujian?filename=" + file_name + "&filepath=" + file_path + "'>下载</a>";

            //return "<a href='/Xiangmuguanli/File_upload?id=1'>下载</a>";

        };

    </script>

}
