@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    
    string loingid = User.Identity.GetUserId();   //取到登录人员的id
    var sf = DateTime.Now.ToString();
}

<div id="p" class="easyui-panel" style="padding:2px;" data-options="fit:true, border:false ">

    <div class="easyui-tabs" id="easytab" data-options="fit:true, border:true ">
        @*移交功能放置在入库项目中，已经入库很久的物资同样可以移交*@
        <div title="入库项目" data-options="closable:false,url:'/Zichanguanli/Ruku_all?time=@sf&loingid=@loingid'" style="padding: 5px;">
        </div>

        @*报损项目待定*@
        @*<div title="报损项目" data-options="closable:false,url:'/Zichanguanli/Baosun_baosun?time=@sf&loingid=@loingid'" style="padding: 5px;">
            </div>*@

        <div title="待签收项目" data-options="closable:false,url:'/Xiangmuguanli/Daiqianshou_Yg?time=@sf&loingid=@loingid'" style="padding: 5px;">
        </div>
    </div>


    @*移交功能放置在入库项目中，已经入库很久的物资同样可以移交*@
    @*报损项目待定*@
    @*<div title="报损项目" data-options="closable:false,url:'/Zichanguanli/Baosun_baosun?time=@sf&loingid=@loingid'" style="padding: 5px;">
      </div>*@

    @*@if (User.IsInRole("部门主管"))
    {
        <div class="easyui-tabs" id="easytab" data-options="fit:true, border:true ">
            <div title="入库项目" data-options="closable:false,url:'/Zichanguanli/Ruku_all?time=@sf&loingid=@loingid'" style="padding: 5px;">
            </div>
            <div title="待签收项目" data-options="closable:false,url:'/Xiangmuguanli/Daiqianshou_Yg?time=@sf&loingid=@loingid'" style="padding: 5px;">
            </div>
        </div>
    }
    else
    {
        <div class="easyui-tabs" id="easytab" data-options="fit:true, border:true,showHeader:false ">
            <div title="" data-options="closable:false,url:'/Zichanguanli/Ruku_all?time=@sf&loingid=@loingid'" style="padding: 5px;">
            </div>
        </div>
    }*@
</div>


@section footer{
    <script type="text/javascript">
        $(function () {
            $("#easytab").tabs({
                tabPosition: 'top',
                fit: true,
                onSelect: function (title, index) {
                    open(index);
                }
            });

            function open(index) {
                var tab = $("#easytab").tabs("getTab", index);
                //console.log(tab);
                //console.log(tab[0]);

                //不重复打开 ,之前这里是保留的，但是在评委审核通过后，我们需要刷新“已审核”tab标签，所以这里我们允许重复打开
                //if (tab.attr("opend")) {
                //    return;
                //}

                var url = tab.panel("options").url;  //这里的URL是tab中的url
                //var op=tab.panel("options");
                //console.log(op);

                if (url) {
                    //$(tab[0]).html('<iframe frameborder="0" scrolling="auto" width="100%" height="100%" src="${path}' + url + '"></iframe>');  // /xiangmuguanli/${path}xiangmuguanli/wsxx_jbxx
                    $(tab[0]).html('<iframe frameborder="0" scrolling="auto" width="100%" height="100%" src=" ' + url + ' "></iframe>');
                    tab.attr("opend", true);
                }
            }
            open(0);
        });
    </script>
}