@using Microsoft.AspNet.Identity
@model IEnumerable<wzgl.Models.ApplicationUser>
@{
    ViewBag.Title = "Ruku_admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string username = User.Identity.GetUserName();//取到登录人员的name
    string loingid = User.Identity.GetUserId();//取到登录人员的id
}
@if (User.IsInRole("部门主管"))
{

    <table id="xiangmu" class="easyui-datagrid" style="height:auto;width:100%;">
        <thead>
            <tr>
                <th data-options="field:'id',align:'center',width:'1%'" hidden>id</th>                

                <th data-options="field:'xiangmumingcheng',align:'center',width:'20%',formatter:TitleFormatter">资产名称</th>

                <th data-options="field:'lingyongdanwei',align:'center',width:'18%',formatter:TitleFormatter">领用单位</th>

                <th data-options="field:'guige',align:'center',width:'10%',formatter: guige_style">规格</th>

                <th data-options="field:'xinghao',align:'center',width:'10%',formatter: guige_style">型号</th>

                <th data-options="field:'danjia',align:'center',width:'6%'">单价(元)</th>

                <th data-options="field:'rukuriqi',align:'center',width:'8%',formatter:formatDatebox">分配日期</th>

                <th data-options="field:'zhengmingren',align:'center',width:'6%'">证明人</th>

                <th data-options="field:'baosunzhuangtai',align:'center',width:'6%',formatter:yijiao">移交</th>

                @*<th data-options="field:'baosunzhuangtai',align:'center',width:'6%',formatter:baosun_pic">报损</th>*@

                <th data-options="field:'qr_code',align:'center',width:'5%',formatter: action_qr_code">二维码</th>

                <th data-options="field:'beizhu',align:'center',width:'10%',formatter: beizhu_style">备注</th>
            </tr>
        </thead>
    </table>

    <div id="toolbar" style="height: 32px; padding: 2px 5px; background:#ddd;">
        <div style="float: right">
            <input class="easyui-searchbox" data-options="prompt:'请输入资产名称进行查询',searcher:doSearch" style="width:300px">
        </div>
    </div>
}
else
{
    <table id="xiangmu" class="easyui-datagrid" style="height:auto;width:100%;">
        <thead>
            <tr>
                <th data-options="field:'id',align:'center',width:'1%'" hidden>id</th>

                <th data-options="field:'ck',checkbox:true"></th>

                <th data-options="field:'xiangmumingcheng',align:'center',width:'20%',formatter:TitleFormatter">资产名称</th>

                <th data-options="field:'lingyongdanwei',align:'center',width:'18%',formatter:TitleFormatter">领用单位</th>

                <th data-options="field:'guige',align:'center',width:'10%',formatter: guige_style">规格</th>

                <th data-options="field:'xinghao',align:'center',width:'10%',formatter: guige_style">型号</th>

                <th data-options="field:'danjia',align:'center',width:'6%'">单价(元)</th>

                <th data-options="field:'rukuriqi',align:'center',width:'8%',formatter:formatDatebox">分配日期</th>

                <th data-options="field:'zhengmingren',align:'center',width:'6%'">证明人</th>

                <th data-options="field:'baosunzhuangtai',align:'center',width:'6%',formatter:yijiao">移交</th>

                @*<th data-options="field:'baosunzhuangtai',align:'center',width:'6%',formatter:baosun_pic">报损</th>*@

                <th data-options="field:'qr_code',align:'center',width:'5%',formatter: action_qr_code">二维码</th>

                <th data-options="field:'beizhu',align:'center',width:'10%',formatter: beizhu_style">备注</th>
            </tr>
        </thead>
    </table>

    <div id="toolbar" style="height: 32px; padding: 2px 5px; background:#ddd;">
        <div style="float: left;">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-share',plain:true" onclick="pl_yijiao()">批量移交</a>
        </div>
        <div style="float: right">
            <input class="easyui-searchbox" data-options="prompt:'请输入资产名称进行查询',searcher:doSearch" style="width:300px">
        </div>
    </div>
}



@*员工分配对话框*@
<div id="fenpei_dlg" class="easyui-dialog" style="width:560px;height:250px;padding:10px 20px" data-options="closed:'true',buttons:'#fenpei_btn'">
    <center>
        <form id="fenpei_fm" method="post" novalidate>
            <div class="fitem" id="bumen">
                <label>持有人:</label>
                <select id="chiyouren" name="chiyouren" class="easyui-combobox" style="width:350px;height:30px" data-options="editable:false" required>

                    @foreach (var item in Model)
                    {
                        <option value=@item.Id>@item.Zhenshiname (@item.Role)</option>
                    }
                </select>
            </div>
            <div class="fitem">
                <label>备注:</label>
                <input id="beizhu" name="beizhu" class="easyui-textbox" data-options="multiline:true,icons:[]" style="width:350px;height:100px">
            </div>
        </form>
    </center>
</div>
<div id="fenpei_btn" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" id="save_btn" onclick="fenpei_save()" style="width:90px">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#fenpei_dlg').dialog('close')" style="width:90px">取消</a>
</div>


@*查看二维码*@
<div id="qrcode_dlg" class="easyui-dialog" style="width:560px;height:350px;padding:10px 20px" data-options="closed:'true',buttons:'#fenpei_btn'">
    <center>
        <img id="qrcode_img" style="height:40%;width:40%;margin-top:15px" />
    </center>
</div>
<div id="fenpei_btn" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#qrcode_dlg').dialog('close')" style="width:90px">关闭</a>
</div>

@section footer{
    <script type="text/javascript">
        var url,loingid='@loingid';
        $(function () {
            $("#xiangmu").datagrid({
                singleSelect: false,
                selectOnCheck: true,
                checkOnSelect: true,
                async: false,
                collapsible: true,
                method: 'post',
                url: '/Zichanguanli/Get_ruku_all',       //这里在后台已经分角色，对 持有人进行过滤
                toolbar: '#toolbar',
                rownumbers: true,
                pagination: true,
                fitcolumns: true,
                //nowrap: false,
                fit: true,
                autoRowheight: false,
                queryParams: {
                    searchquery: '',
                    loingid:'@loingid'
                },
                onLoadSuccess: function (data) {
                    //提交
                    $('.fenpei').linkbutton({ plain: true });
                    $('.fenpei_jin').linkbutton({ plain: false });
                    $('.fenpei').addClass("c6");
                }
            });
            var p = $('#xiangmu').datagrid('getPager');
            $(p).pagination({
                pageSize: 10,//每页显示的记录条数，默认为10
                pageList: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100],//可以设置每页记录条数的列表
                beforePageText: '第',//页数文本框前显示的汉字
                afterPageText: '页    共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });
        });
        //对textbox进行验证
        $.extend($.fn.textbox.defaults.rules, {
            numeric: {
                validator: function (value, param) {
                    if (value) {
                        return /^[0-9]*(\.[0-9]+)?$/.test(value);
                    } else {
                        return true;
                    }
                },
                message: '只能输入数值.'
            }
        });

        function doSearch(value) {
            $('#xiangmu').datagrid('load', { "searchquery": value, "loingid": loingid });
        };


        //报损图标
        function baosun_pic(value, row, index) {
            if (row.qianshouzhuangtai == "已签收") {
                return "<a href='javascript:void(0)' style='width:100%' class='fenpei' onclick='baosun(" + index + ")' target='mainFrame'>报损</a>";
            } else {
                return "<a href='javascript:void(0)' style='width:80%' class='fenpei_jin' target='mainFrame'>报损</a>";
            }
        };

        //查看二维码
        function action_qr_code(value, row, index) {
            return "<a href='javascript:void(0)' style='width:100%' class='fenpei' onclick='show_qr_code(" + index + ")' target='mainFrame'>查看</a>";
        };
        //弹出二维码显示框
        function show_qr_code(index) {
            $('#xiangmu').datagrid('selectRow', index);
            var row = $('#xiangmu').datagrid('getSelected');
            var url = row.qr_pic_url;
            if (row) {
                $('#qrcode_dlg').dialog('open').dialog('setTitle', '入库物资二维码');
                //$('#qrcode_img').src = url;
                $("#qrcode_img").attr("src", url);
            }
        };
        //项目名称显示字数控制
        function TitleFormatter(value, row, index) {
            var value1 = value;
            if (value1 == null) {
                var ss = '';
                return ss
            }
            else {
                if (value1.length > 15) {
                    value1 = value1.substr(0, 15) + "...";
                }
                var ss = '<a href="javascript:;" title="' + value + '" class="easyui-tooltip">' + value1 + '</a>';
                return ss
            }
        };

        function guige_style(value, row, index) {
            var value1 = value;
            if (value1 == null) {
                var ss = '';
                return ss
            }
            else {
                if (value1.length > 10) {
                    value1 = value1.substr(0, 10) + "...";
                }
                var ss = '<a href="javascript:;" title="' + value + '" class="easyui-tooltip">' + value1 + '</a>';
                return ss
            }
        };

        function beizhu_style(value, row, index) {
            var value1 = value;
            if (value1 == null) {
                var ss = '';
                return ss
            }
            else {
                if (value1.length > 5) {
                    value1 = value1.substr(0,5) + "...";
                }
                var ss = '<a href="javascript:;" title="' + value + '" class="easyui-tooltip">' + value1 + '</a>';
                return ss
            }
        };

        function baosun() {
            alert("报损流程待定")
        };

        //移交按钮
        function yijiao(value, row, index) {
            if (row.qianshouzhuangtai == "已签收" ) {
                return "<a href='javascript:void(0)' style='width:100%' class='fenpei' onclick='yijiao_click(" + index + ")' target='mainFrame'>移交</a>";
            } else {
                if (row.qianshouzhuangtai == "未签收" && row.yijiao_jieshouren != "") {
                    return "<a href='javascript:void(0)' style='width:100%' class='fenpei_jin' target='mainFrame'>移交中</a>";
                }
                return "<a href='javascript:void(0)' style='width:100%' class='fenpei_jin' target='mainFrame'>移交</a>";
            }
        };

        //移交按钮弹出对话框
        function yijiao_click(index) {
            $('#xiangmu').datagrid('selectRow', index);
            var row = $('#xiangmu').datagrid('getSelected');
            if (row) {
                $('#fenpei_dlg').dialog('open').dialog('setTitle', '入库物资移交');
                var rukuid = row.id;
                //第二次load加载的时候，输入框里获取的值不是value值，是输入框的文本值，所以想往后台传的value值会有问题
                //这里第二次加载的时候不再赋值
                $('#chiyouren').combobox('setValue', '');
                $('#beizhu').textbox('setValue', '');
                url = "/Xiangmuguanli/Yg_yijiao?id=" + rukuid + "";
            }
        };

        //批量分配
        var names;
        function pl_yijiao() {
            var checkedItems = $('#xiangmu').datagrid('getChecked');
            var names = [];
            if (checkedItems.length == 0) {
                $.messager.alert("错误提示", "请选择要分配的物资！", "warning");
            }
            else {
                if (checkedItems) {
                    $('#fenpei_dlg').dialog('open').dialog('setTitle', '入库物资批量分配');
                    $('#fenpei_fm').form('clear');
                    $.each(checkedItems, function (index, item) {
                        names.push(item.id);
                    });
                    url = '/Xiangmuguanli/Yijiao_Piliang?rukuid=' + names;
                }
            }
        };


        //分配保存
        function fenpei_save() {
            $('#save_btn').linkbutton({ disabled: true });   //这里是为解决一个连击问题
            $('#fenpei_fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    result = JSON.parse(result);   //IE浏览器在后台操作完成后返回提示信息，转化为json字符串格式,在删除的方法中，加了这个后不能自动reload  dategrid
                    if (result.success) {
                        $('#fenpei_dlg').dialog('close');		// close the dialog
                        $('#xiangmu').datagrid('reload');
                        $.messager.show({
                            title: '提示',
                            msg: result.Msg
                        });
                    }
                    else {
                        $.messager.show({
                            title: '提示',
                            msg: result.Msg
                        });
                    }
                    //$('#save_btn').linkbutton({ disabled: false });   //释放连击被禁用的按钮
                },
            });            
            $('#save_btn').linkbutton({ disabled: false });   //释放连击被禁用的按钮
        };


        //员工签收操作
        function qianshou(index) {
            $('#xiangmu').datagrid('selectRow', index);
            var row = $('#xiangmu').datagrid('getSelected');
            if (row) {
                $('#qianshou_dlg').dialog('open').dialog('setTitle', '入库物资签收');
                var rukuid = row.id;
                url = "/Xiangmuguanli/Yg_qianshou?id=" + rukuid + "";
            }
        };

        //已签收提示
        function yi_qianshou() {
            $.messager.show({
                title: '提示',
                msg: "您已经签收，无需重复此次操作"
            });
        };

        //已报损提示
        function yi_baosun() {
            $.messager.show({
                title: '提示',
                msg: "您已提交报损，无需重复此次操作!"
            });
        };

    </script>


    <style type="text/css">
        #fm {
            margin: 0;
            padding: 10px 30px;
        }

        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .fitem {
            margin-bottom: 10px;
        }

            .fitem label {
                display: inline-block;
                width: 70px;
            }

            .fitem input {
                width: 160px;
            }
    </style>
}



